.body-logo{
	height: 100px;
	text-align: center;
	line-height: 100px;
	margin: 25px auto;
}
.body-btn{
	height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid;
}

.body-li{
	height: 35px;
    text-align: center;
    line-height: 35px;
    margin: 20px 30%;
}

input{
	background:rgba(255,255,255,0.00);
	box-sizing:border-box;
	outline:0;
	width: 90%;
	margin: 0 5%;
	border:0px;
}

.items{
	border-radius: 22px;
    border: 1px solid #BBB;
}

.item:hover{
	border: 1px solid #00F;
}

#body-btn{
	height: 50px;
    width: 80%;
    line-height: 50px;
    margin: 0 10%;
    border-radius: 22px;
    background: #4100ff29;
    border: 1px solid #000;	
}
#body-btn:hover{
	background: #4100ff94
}
#body-btn:hover a{
	color:#00F;	
}

#body-btn a{
	font-size: 20px;
	color:#000;	
}
